<div *ngIf="artist">
    <header class="artist-header">
        <div *ngIf="artist.images.length > 0">
            <img src="{{ artist.images[0].url}}" alt="{{artist.name}}" class="artist-thumb img-circle">
        </div>
        <h1>{{ artist.name }}</h1>
        <p *ngIf="artist.genres.length > 0">
            Genres: <span *ngFor="let genre of artist.genres" class="label label-primary">{{ genre }}</span> 
        </p>
    </header>
    <div class="artist-albums">
        <div class="row">
            <div *ngFor="let album of albums">
                <div class="col-md-3 col-xs-12">
                    <div class="album well">
                        <img src="{{ album.images[0].url }}" alt="Album art for {{album.name}} by {{ artist.name }}" class="album-thumb img-thumbnail">
                        <h4>{{album.name}}</h4>
                        <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}">Go to Album</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>